/*
 * -------------------------------------------------
 *  nf-core/radseq Nextflow local config file
 * -------------------------------------------------
 * Settings for execution locally, typically on a laptop computer.
 * Intended for development work, or perhaps a very small dataset
 */

process {

  container = params.container

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 0
  maxErrors = '-1'

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 6.GB
  max_cpus = 4
  max_time = 2.h
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
