/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: TRIMMOMATIC {
        def truncstr = params.trim_truncate > 30 ? "MINLEN:${params.trim_truncate} CROP:${params.trim_truncate}" : ""
        def headstr = params.trim_head > 0 ? "HEADCROP:${params.trim_head}" : ""
        ext.args = "$headstr ILLUMINACLIP:${params.trim_adapters}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 $truncstr"
    }
    
    withName: STACKS_PROCESS_RADTAGS {
        publishDir = [ 
            path: { "${params.outdir}/process_radtags" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STACKS_DENOVO_MAP {
        publishDir = [ 
            path: { "${params.outdir}/denovo_stacks" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCFTOOLS_RELATEDNESS2' {
        ext.args   = { '--relatedness2' }
    }
    withName: 'VCFTOOLS_HET' {
        ext.args   = { '--het' }
    }
    withName: 'VCFTOOLS_DEPTH' {
        ext.args   = { '--depth' }
    }
    withName: 'VCFTOOLS_IMISS' {
        ext.args   = { '--missing-indv' }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
